#caja1 {
    width: 400px;
    height: 400px;
    background-color: #533440;
}

#caja2 {
    width: 400px;
    height: 400px;
    background-color: #9DB6CC;
}

#caja3 {
    width: 400px;
    height: 400px;
    background-color: #A47786;
}

#caja4 {
    width: 400px;
    height: 400px;
    background-color: #E4D4C8;
}